<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    <property name="logPath" value="/usr/local/scrm/logs"/>-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${logPath}/system.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily &ndash;&gt;-->
<!--            <fileNamePattern>${logPath}/system-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            &lt;!&ndash; each file should be at most 100MB, keep 60 days worth of history, but at most 20GB &ndash;&gt;-->
<!--            <maxHistory>15</maxHistory>-->
<!--            <maxFileSize>10MB</maxFileSize>-->
<!--            <totalSizeCap>20GB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                [%date{yyyy-MM-dd HH:mm:ss.SSS}] %X{logthreadId} %-5level %logger{80} %method  %line - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <!-- 开发、测试环境 -->
    <springProfile name="dev">
<!--        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
<!--            <destination>127.0.0.1:9601</destination>-->
<!--            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--        </appender>-->

        <logger name="HTTP_INVOKE_LOGGER" alevel="warn"></logger>
        <logger name="DING_OPEN_CLIENT_SDK_LOGGER" level="warn"></logger>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
<!--            <appender-ref ref="FILE"/>-->
            <!--            <appender-ref ref="LOGSTASH"/>-->
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>127.0.0.1:9601</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder charset="UTF-8">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="ERROR">
<!--            <appender-ref ref="FILE"/>-->
            <appender-ref ref="LOGSTASH"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>